<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav id="sidebar" class="sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/salesperson/}">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-user"></i> Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/salesperson/customer}">
                    <i class="fas fa-car"></i> Customer Management
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownTables" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-table"></i> Sale Management
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownTables">
                    <li><a class="dropdown-item" th:href="@{/salesperson/salesCarPage}">Cars </a></li>
                    <li><a class="dropdown-item" th:href="@{/salesperson/salesPage}">Sales Page</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
